<div class="recipes">
  <h1>Public Recipes</h1>
 <% if @recipes.any? %>
    
        <% @recipes.each do |recipe| %>
<div class="recipe-group">
         <div class="name-btn">
            <%= link_to recipe_path(recipe, user_id: current_user.id), class: "public-link" do %>
                <p class="public-name"><%= recipe.name.capitalize %></p>
              <% end %>
              
            <p>By: <%= current_user.name.capitalize %></p>
            </div>
           <div class="group-items">
            <p>Total Items <%= recipe.foods.length %></p>
            <p>Total Price: $<%= recipe.foods.sum(:price) %></p>
             </div>      
        </div>
        <% end %>
  <% else %>
    <p>No recipes found.</p>
  <% end %>
</div>

<%#  ===============%>
