<div class="recipes">
  <h1>Public Recipes</h1>
  <% if @recipes.any? %>
   
        <% @recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe, user_id: current_user.id) do %>
                <p><%= recipe.name %></p>
              <% end %>
              
            <p>By: <%= current_user.name %></p>
            <p>Total Items <%= recipe.foods.length %></p>
            <p>Total Price: $<%= recipe.foods.sum(:price) %></p>
        <% end %>
 
  <% else %>
    <p>No recipes found.</p>
  <% end %>
  
</div>
